#markdown {
    margin: 50px 70px;;
    font-family: Arial;
    font-size: 16px;
    #text {
     padding: 30px;
     border-style: dotted;
     border-width: 5px;
     border-color: blue;
     border-radius: 15px;
    }
}
